.alertSymfo {
  padding: 16px 32px;
  color: $white;
  font-size: 1.5rem !important;
  position: fixed;
  bottom: 5%;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  p {
    margin-left: 16px;
  }

  button {
    padding: 8px;

    span {
      font-size: 2.5rem;
      color: white;
    }
  }
}

.alertSymfo {
  &.alert-primary {
    background: rgba($darkGrey, .6)
  }
  &.alert-success {
    background: rgba(73, 115, 33, 0.8);
  }

  &.alert-info {
    background: rgba(92, 220, 237, 0.8);
  }

  &.alert-danger {
    background: rgba(224, 0, 0, 0.8);
  }

  &.alert-warning {
    background: rgba(255, 71, 71, 0.8);
  }
}