<?xml version="1.0"?>
<ruleset>
    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="16"/>
    <arg name="colors"/>

    <rule ref="PSR2"/>

    <!-- Ignore warnings, show progress of the run and show sniff names -->
    <arg value="nps"/>

    <!-- Directories to be checked -->
    <file>src</file>
    <file>tests</file>

    <exclude-pattern>tests/dependencies/*</exclude-pattern>

    <ruleset name="ecs">
        <description>ecs project rule standard</description>
        <rule ref="PEAR">
            <exclude name="PEAR.Commenting.FileComment.Missing"/>
        </rule>
    </ruleset>

    <!-- Do not align assignments -->
    <rule ref="Generic.Formatting.MultipleStatementAlignment">
        <severity>0</severity>
    </rule>

    <!-- Do not align comments -->
    <rule ref="Squiz.Commenting.FunctionComment.SpacingAfterParamName">
        <severity>0</severity>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.SpacingAfterParamType">
        <severity>0</severity>
    </rule>
</ruleset>