@import '_mixins.scss';

.center{
  @include center;
}

.centerBetween{
  @include centerBetween;
}

.centerAround{
  @include centerAround;
}

.fullCenter{
  @include fullCenter;
}

.flexStart{
  @include flexStart;
}

.flexEnd{
  @include flexEnd;
}

.alignInit{
  @include alignInit;
}

.fullWidth{
  @include fullWidth;
}

.midWidth{
  @include midWidth;
}

.thirdWidth{
  @include thirdWidth;
}

.v-hide {
  height:0;
  width:0;
  visibility: hidden;

  & > label, & > input {
    height:0;
    width:0;
    visibility: hidden;
  }
}