{% extends '@fo/layout.html.twig' %}

{% block main %}
  <hr class="sep-header">
  <h1 class="pop-sBold panier_title">Mot de passe perdu</h1>

  <section class="formTheme pop">
    {% include '@fo/forms/password-reminder-form.html.twig' %}
  </section>

{% endblock %}
